@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 200px;
}
nav>h3{
    font-weight: 900;
    font-size: 30px;
}
.navbar-btn{
    background-color: white;
    color: black;
    height: 35px;
    width: 140px;
    border: 1px solid black;
    border-radius: 6px;
}
.navbar-btn:hover{
    background-color: blue;
    color: white;
    border-color: blue;
}
/* hero class */
.hero{
    background-image: url("/img/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero>h1{
    text-align: center;
    font-size: 46px;
}
.hero>p{
    width: 66%;
    text-align: center;
    margin: 20px 0;
    font-weight: 300;
}
.hero-section-btn{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 6px;
}
.hero-section-btn:hover{
    background-color: white;
    color: black;
}
main{
    max-width: 1024px;
    margin: auto;
}
.why-style{
    text-align: center;
    width: 66%;
    margin: 40px auto;
}
.part{
    display: flex;
    justify-content: center;
    align-items: center;
}
.part2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    /* flex-direction: row-reverse; */
}
.half-width{
    width: 50%;
}